.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
    padding-left: 2rem;
}

.large {
    font-size: 58px;
    color: white;
    margin-right: 10px;
}

.small {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    text-align: left;
    line-height: 1.2;
}

.header {
    background-color: #13599A;
    width: 94%;
    height: 110px;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 36px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);  
}