.main-modal {
    width: 1000px;
    height: auto;
    background-color: #e48213;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.main-modal-header {
    width: 100%;
    height: 40px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    margin: 20px 0 30px 0;
}

.dictionary-icon {
    font-size: 2.5rem !important;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.middle-content {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sign-image {
    width: 450px;
    height: 450px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    position: relative;
}

.sign-image img {
    width: 90%;
    height: 90%;
    margin: auto;
    position: absolute;
    object-fit: contain;
    /* transform: translateX(20px); */
}

.settings {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(230, 138, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: 55%;
    margin-bottom: 20px;
    color: #ffffff;
}

.options h2 {
    align-items: center !important;
    line-height: 0;
    padding-top: 5px;
    margin-bottom: 10px;
}

.option-indivs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
    margin: 10px;
}

.score {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(230, 138, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #ffffff;
}

.score-title {
    align-items: center !important;
    line-height: 0;
    padding-top: 5px;
    margin-bottom: 10px;
}

.score-indivs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0;
    margin: 0px;
    margin-left: 10px;
}

.bottom-content {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 165px;
}

.answer-input {
    height: 40px;
    width: 450px;
    margin-right: 100px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.answer-input.correct {
    height: 40px;
    width: 400px;
    margin-right: 70px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: green;
    opacity: 0.8;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.answer-input.incorrect {
    height: 40px;
    width: 400px;
    margin-right: 70px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        background-color: rgba(240, 26, 26, 0.76);
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        background-color: white;
        transform: translateX(0px);
    }
}

.buttons {
    width: 250px;
    display: flex;
    gap: 10px;
}

.buttons button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(230, 138, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.speed-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.replay-icon {
    font-size: 2.2rem !important;
    color: black;
}

.replay-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    opacity: 0.6;
    cursor: pointer;
}

.replay-text {
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.0s ease;
}

.background-video.visible {
    opacity: 1;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.score-text-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.score-text.correct {
    color: green;
    animation: rise 0.2s ease-in-out;
}

@keyframes rise {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

.streak-text-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* .streak-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
} */

.streak-text.incorrect {
    color: rgba(240, 26, 26, 0.76);
    animation: fall 0.2s ease-in-out;
}

.streak-text.correct {
    color: green;
    animation: rise 0.2s ease-in-out;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }
    75% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0);
    }
}

.practice-text {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-right: 15px;
    transform: translateY(-20px);
}

.practice-text.on {
    opacity: 1;
}

.practice-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.size-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.streak-fire {
    font-size: 16px;
    color: rgba(236, 15, 15, 0.856);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.streak-fire.streak {
    opacity: 1;
}